{% extends "baseadmin.html.twig" %}

{% block body %}

<p class="text-end">
    <a href="{{ path('admin.formation.ajout') }}" class="btn btn-primary">
        <em class="fas fa-plus me-2"></em> Nouvelle formation
    </a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <caption>liste des formations</caption>
        <thead>
            <tr>
                <th scope="col">
                    Formation
                    <form action="{{ path('admin.formations.sort', {champ:'title', ordre:'ASC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true">
                            <
                        </button>
                    </form>
                    <form action="{{ path('admin.formations.sort', {champ:'title', ordre:'DESC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true" title="Trier par titre descendant">
                            >
                        </button>
                    </form>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.formations.findallcontain', {champ:'title'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche"
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_title') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">Filtrer</button>
                        </div>
                    </form>
                </th>
                <th scope="col">
                    Playlist
                    <form action="{{ path('admin.formations.sort', {table:'playlist', champ:'name', ordre:'ASC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true" title="Trier les playlists par nom ascendant">
                            <
                        </button>
                    </form>
                    <form action="{{ path('admin.formations.sort', {table:'playlist', champ:'name', ordre:'DESC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true" title="Trier les playlists par nom descendant">
                            >
                        </button>
                    </form>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.formations.findallcontain', {champ:'name', table:'playlist'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche"
                                   value="{% if valeur|default and table|default and table=='playlist' %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">Filtrer</button>
                        </div>
                    </form>
                </th>
                <th scope="col">
                    Catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.formations.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option
                                    {% if valeur|default and valeur==categorie.id %}
                                        selected
                                    {% endif %}
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </th>
                <th scope="col">
                    Date<br>
                    <form action="{{ path('admin.formations.sort', {champ:'publishedAt', ordre:'ASC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true" title="Trier par date de publication ascendante">
                            <
                        </button>
                    </form>
                    <form action="{{ path('admin.formations.sort', {champ:'publishedAt', ordre:'DESC'}) }}" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info btn-sm active" aria-pressed="true" title="Trier par date de publication descendante">
                            >
                        </button>
                    </form>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for formation in formations %}
                <tr>
                    <td>
                        {{ formation.title }}
                    </td>
                    <td>
                        {{ formation.playlist.name }}
                    </td>
                    <td>
                        {% for categorie in formation.categories %}
                            {{ categorie.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {{ formation.publishedatstring }}
                    </td>
                    <td>
                        <a href="{{ path('admin.formation.edit', {id: formation.id}) }}" 
                           class="btn btn-sm btn-outline-secondary">✏️</a>
                        <a href="{{ path('admin.formation.suppr', {id: formation.id}) }}" 
                           class="btn btn-sm btn-outline-danger"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ formation.title }} ?')">🗑
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
